*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #201E20;
}

.section-division{
    display: flex;
    height: 100vh;
    width: 100%;  
    color: #fff;
    align-items: center;

}


.left-section{
    border: 1px solid rgba(255, 255, 255, 0.234);
    padding: 50px;
    border-radius: 50px;
    height: 90%;
    width: 30%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: fixed;

}

.my-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.my-intro h1{
    font-size: 35px;
}

.my-intro h3{
    font-size: 15px;
    font-weight: 500;
}

.my-img{
    border-radius: 40px;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.copyright{
    margin-top: 10px;
    color: #636363;
}

.hire-button{
    background-color: #15D58C;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    border: 2px solid #15D58C;
    font-weight: 400;
}

.hire-button:hover{
    border: 2px solid #15D58C;
    background-color: transparent;
    color: #fff;
}


.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

.links li{
    list-style: none;
    
}

.links li a{
    text-decoration: none;
    color: #fff;
}

.links li a:hover{
    text-decoration: underline;
}

.aside-section{
    position: absolute;
    top: 100px;
    left: 40%;
    
}



.sec-btn{
    display: inline;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 5px 20px;
    border-radius: 50px;
    
}

.introduction{
    width: 100%;
    height: 90vh;
}


.introduction h1{
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 1.5;

}

.introduction h1 span{
    color: #15D58C;
   
}

.introduction p{
    color: #636363;
}





/* Projects */


.projects{
    height: 150vh;
    width: 100%;
}



.card{
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}


.card img{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2{
    font-size: 30px;
    margin-bottom: 10px;
}


.card h2 a{
    text-decoration: none;
    color: #fff;
}

.card p{
    text-overflow: hidden;
    text-align: center;
}


.project-inside{
    display: flex;
    align-self: center;
    gap: 30px;
    flex-wrap: wrap;
    
}


/* skills */

.skills{
    width: 100%;
    margin-top: 100px;
}

.all-skills{
    margin-top: 20px;
}

.skill-set{
    width: 250px;
    height: 250px;
    padding: 30px;
}